In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('Energy Final.csv')
df.head()

,country,year,iso_code,population,coal_electricity,gas_electricity,oil_electricity,nuclear_electricity,hydro_electricity,solar_electricity,biofuel_electricity,wind_electricity,other_renewable_exc_biofuel_electricity,electricity_generation,electricity_demand
0,ASEAN (Ember),2000,NaN,NaN,71.03,163.22,61.50,0.0,50.37,0.0,5.60,0.0,16.93,368.65,368.65
1,ASEAN (Ember),2001,NaN,NaN,80.02,185.35,55.14,0.0,54.26,0.0,6.02,0.0,16.40,397.19,397.19
2,ASEAN (Ember),2002,NaN,NaN,87.16,203.52,56.15,0.0,53.32,0.0,6.06,0.0,16.61,422.82,422.82
3,ASEAN (Ember),2003,NaN,NaN,98.51,216.92,56.01,0.0,53.28,0.0,6.69,0.0,15.74,447.15,447.15
4,ASEAN (Ember),2004,NaN,NaN,111.62,237.97,58.33,0.0,52.88,0.0,7.57,0.0,16.57,484.94,484.94

In [3]:
Continent=pd.read_csv("Continent.csv")
Continent.head()

          country              Continent
0     Afghanistan                   Asia
1  American Samoa  Australia and Oceania
2       Australia  Australia and Oceania
3         Albania                 Europe
4         Algeria                 Africa

In [4]:
df=df.merge(Continent,on='country',how='left')
df

,country,year,iso_code,population,coal_electricity,gas_electricity,oil_electricity,nuclear_electricity,hydro_electricity,solar_electricity,biofuel_electricity,wind_electricity,other_renewable_exc_biofuel_electricity,electricity_generation,electricity_demand,Continent
0,ASEAN (Ember),2000,NaN,NaN,71.03,163.22,61.50,0.0,50.37,0.00,5.60,0.0,16.93,368.65,368.65,NaN
1,ASEAN (Ember),2001,NaN,NaN,80.02,185.35,55.14,0.0,54.26,0.00,6.02,0.0,16.40,397.19,397.19,NaN
2,ASEAN (Ember),2002,NaN,NaN,87.16,203.52,56.15,0.0,53.32,0.00,6.06,0.0,16.61,422.82,422.82,NaN
3,ASEAN (Ember),2003,NaN,NaN,98.51,216.92,56.01,0.0,53.28,0.00,6.69,0.0,15.74,447.15,447.15,NaN
4,ASEAN (Ember),2004,NaN,NaN,111.62,237.97,58.33,0.0,52.88,0.00,7.57,0.0,16.57,484.94,484.94,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6654,Zimbabwe,2018,ZWE,15052191.0,3.69,0.00,0.04,0.0,5.05,0.02,0.39,0.0,0.00,9.19,10.21,Africa
6655,Zimbabwe,2019,ZWE,15354606.0,3.62,0.00,0.04,0.0,4.17,0.03,0.38,0.0,0.00,8.24,9.35,Africa
6656,Zimbabwe,2020,ZWE,15669663.0,3.36,0.00,0.04,0.0,3.81,0.03,0.35,0.0,0.00,7.59,9.57,Africa
6657,Zimbabwe,2021,ZWE,15993525.0,3.57,0.00,0.04,0.0,4.00,0.04,0.38,0.0,0.00,8.03,9.78,Africa
6658,Zimbabwe,2022,ZWE,16320539.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa

## Columns and their description

1. **iso_code**-ISO 3166-1 alpha-3 three-letter country codes
2. **country**-Geographic location
3. **year**-Year of observation
4. **population**-Total population
5. **coal_electricity**-Electricity generation from coal measured in terawatt-hours
6. **gas_electricity-Electricity**- generation from gas, measured in terawatt-hours
7. **oil_electricity-Electricity**- generation from oil, measured in terawatt-hours
8. **nuclear_electricity**-Electricity generation from nuclear power, measured in terawatt-hours
9. **hydro_electricity**-Electricity generation from hydropower, measured in terawatt-hours
10.**solar_electricity**-Electricity generation from solar, measured in terawatt-hours
11.**wind_electricity**-Electricity generation from wind, measured in terawatt-hours
12.**biofuel_electricity**-Electricity generation from biofuels, measured in terawatt-hours
13.**other_renewable_exc_biofuel_electricity**-Electricity generation from other renewable sources excluding biofuels, measured      in terawatt-hours
14.**electricity_generation**-Electricity generation, measured in terawatt-hours
15.**electricity_demand**-Electricity demand, measured in terawatt-hours

In [5]:
df.shape

(6659, 16)

In [6]:
df.columns

Index(['country', 'year', 'iso_code', 'population', 'coal_electricity',
       'gas_electricity', 'oil_electricity', 'nuclear_electricity',
       'hydro_electricity', 'solar_electricity', 'biofuel_electricity',
       'wind_electricity', 'other_renewable_exc_biofuel_electricity',
       'electricity_generation', 'electricity_demand', 'Continent'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6659 entries, 0 to 6658
Data columns (total 16 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   country                                  6659 non-null   object
 1   year                                     6659 non-null   int64
 2   iso_code                                 4906 non-null   object
 3   population                               5178 non-null   float64
 4   coal_electricity                         5419 non-null   float64
 5   gas_electricity                          5419 non-null   float64
 6   oil_electricity                          5419 non-null   float64
 7   nuclear_electricity                      5406 non-null   float64
 8   hydro_electricity                        5566 non-null   float64
 9   solar_electricity                        5600 non-null   float64
 10  biofuel_electricity                      5177 non-null   float64
 11  wind_electricity                         5591 non-null   float64
 12  other_renewable_exc_biofuel_electricity  5143 non-null   float64
 13  electricity_generation                   5631 non-null   float64
 14  electricity_demand                       5306 non-null   float64
 15  Continent                                4714 non-null   object
dtypes: float64(12), int64(1), object(3)
memory usage: 884.4+ KB

In [8]:
df.describe()

,year,population,coal_electricity,gas_electricity,oil_electricity,nuclear_electricity,hydro_electricity,solar_electricity,biofuel_electricity,wind_electricity,other_renewable_exc_biofuel_electricity,electricity_generation,electricity_demand
count,6659.000000,5.178000e+03,5419.00000,5419.000000,5419.000000,5406.000000,5566.000000,5600.000000,5177.000000,5591.000000,5143.000000,5631.000000,5306.000000
mean,2010.670671,1.273089e+08,308.67243,175.996052,36.951670,107.707597,122.799524,9.961610,11.666737,25.004201,2.235592,780.269029,624.015850
std,6.468385,6.233634e+08,1162.03399,580.440370,120.244972,387.244353,411.888551,61.116842,49.469065,120.854071,8.320151,2688.359312,2468.878364
min,2000.000000,1.833000e+03,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2005.000000,9.465542e+05,0.00000,0.000000,0.090000,0.000000,0.010000,0.000000,0.000000,0.000000,0.000000,0.950000,1.000000
50%,2011.000000,6.843354e+06,0.00000,0.850000,1.020000,0.000000,1.805000,0.000000,0.010000,0.000000,0.000000,12.970000,9.785000
75%,2016.000000,2.742434e+07,20.85500,35.340000,9.290000,0.000000,18.022500,0.090000,0.690000,0.610000,0.000000,112.905000,85.712500
max,2022.000000,7.975105e+09,10190.71000,6326.000000,1209.510000,2740.780000,4341.100000,1289.270000,677.570000,2139.230000,99.740000,28527.760000,28527.760000

In [9]:
# make a copy
df1=df.copy()

In [10]:
# Remove Duplicate row
df.duplicated().sum()

0

### Can Run Following Query to See Full Data
**pd.set_option('display.max_rows',None)**

In [11]:
Continent=df[df['iso_code'].isna()].index
Continent

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            6581, 6582, 6583, 6584, 6585, 6586, 6587, 6588, 6589, 6590],
           dtype='int64', length=1753)

In [12]:
df.drop(Continent,inplace=True)

In [13]:
df['iso_code'].isna().sum(0)

0

In [14]:
df

,country,year,iso_code,population,coal_electricity,gas_electricity,oil_electricity,nuclear_electricity,hydro_electricity,solar_electricity,biofuel_electricity,wind_electricity,other_renewable_exc_biofuel_electricity,electricity_generation,electricity_demand,Continent
23,Afghanistan,2000,AFG,19542986.0,0.00,0.0,0.16,0.0,0.31,0.00,0.00,0.0,0.0,0.47,0.57,Asia
24,Afghanistan,2001,AFG,19688634.0,0.00,0.0,0.09,0.0,0.50,0.00,0.00,0.0,0.0,0.59,0.69,Asia
25,Afghanistan,2002,AFG,21000258.0,0.00,0.0,0.13,0.0,0.56,0.00,0.00,0.0,0.0,0.69,0.79,Asia
26,Afghanistan,2003,AFG,22645136.0,0.00,0.0,0.31,0.0,0.63,0.00,0.00,0.0,0.0,0.94,1.04,Asia
27,Afghanistan,2004,AFG,23553554.0,0.00,0.0,0.33,0.0,0.56,0.00,0.00,0.0,0.0,0.89,0.99,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6654,Zimbabwe,2018,ZWE,15052191.0,3.69,0.0,0.04,0.0,5.05,0.02,0.39,0.0,0.0,9.19,10.21,Africa
6655,Zimbabwe,2019,ZWE,15354606.0,3.62,0.0,0.04,0.0,4.17,0.03,0.38,0.0,0.0,8.24,9.35,Africa
6656,Zimbabwe,2020,ZWE,15669663.0,3.36,0.0,0.04,0.0,3.81,0.03,0.35,0.0,0.0,7.59,9.57,Africa
6657,Zimbabwe,2021,ZWE,15993525.0,3.57,0.0,0.04,0.0,4.00,0.04,0.38,0.0,0.0,8.03,9.78,Africa
6658,Zimbabwe,2022,ZWE,16320539.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa

In [15]:
# Antarctica is not an country
df.drop(df[df['country']=='Antarctica'].index,inplace=True)

In [16]:
df[df['country']=='Antarctica']

Empty DataFrame
Columns: [country, year, iso_code, population, coal_electricity, gas_electricity, oil_electricity, nuclear_electricity, hydro_electricity, solar_electricity, biofuel_electricity, wind_electricity, other_renewable_exc_biofuel_electricity, electricity_generation, electricity_demand, Continent]
Index: []

In [17]:
df=df.reset_index()
df

,index,country,year,iso_code,population,coal_electricity,gas_electricity,oil_electricity,nuclear_electricity,hydro_electricity,solar_electricity,biofuel_electricity,wind_electricity,other_renewable_exc_biofuel_electricity,electricity_generation,electricity_demand,Continent
0,23,Afghanistan,2000,AFG,19542986.0,0.00,0.0,0.16,0.0,0.31,0.00,0.00,0.0,0.0,0.47,0.57,Asia
1,24,Afghanistan,2001,AFG,19688634.0,0.00,0.0,0.09,0.0,0.50,0.00,0.00,0.0,0.0,0.59,0.69,Asia
2,25,Afghanistan,2002,AFG,21000258.0,0.00,0.0,0.13,0.0,0.56,0.00,0.00,0.0,0.0,0.69,0.79,Asia
3,26,Afghanistan,2003,AFG,22645136.0,0.00,0.0,0.31,0.0,0.63,0.00,0.00,0.0,0.0,0.94,1.04,Asia
4,27,Afghanistan,2004,AFG,23553554.0,0.00,0.0,0.33,0.0,0.56,0.00,0.00,0.0,0.0,0.89,0.99,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4879,6654,Zimbabwe,2018,ZWE,15052191.0,3.69,0.0,0.04,0.0,5.05,0.02,0.39,0.0,0.0,9.19,10.21,Africa
4880,6655,Zimbabwe,2019,ZWE,15354606.0,3.62,0.0,0.04,0.0,4.17,0.03,0.38,0.0,0.0,8.24,9.35,Africa
4881,6656,Zimbabwe,2020,ZWE,15669663.0,3.36,0.0,0.04,0.0,3.81,0.03,0.35,0.0,0.0,7.59,9.57,Africa
4882,6657,Zimbabwe,2021,ZWE,15993525.0,3.57,0.0,0.04,0.0,4.00,0.04,0.38,0.0,0.0,8.03,9.78,Africa
4883,6658,Zimbabwe,2022,ZWE,16320539.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa

In [18]:
df[df['population'].isna()]

,index,country,year,iso_code,population,coal_electricity,gas_electricity,oil_electricity,nuclear_electricity,hydro_electricity,solar_electricity,biofuel_electricity,wind_electricity,other_renewable_exc_biofuel_electricity,electricity_generation,electricity_demand,Continent
3082,3994,Netherlands Antilles,2011,ANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,North American
3083,3995,Netherlands Antilles,2012,ANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,North American
3084,3996,Netherlands Antilles,2013,ANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,North American
3085,3997,Netherlands Antilles,2014,ANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,North American
3086,3998,Netherlands Antilles,2015,ANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,North American
3087,3999,Netherlands Antilles,2016,ANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,North American
3088,4000,Netherlands Antilles,2017,ANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,North American
3089,4001,Netherlands Antilles,2018,ANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,North American
3090,4002,Netherlands Antilles,2019,ANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,North American
3091,4003,Netherlands Antilles,2020,ANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,North American
3092,4004,Netherlands Antilles,2021,ANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,North American

In [19]:
df.drop(df[df['country']=='Netherlands Antilles'].index,inplace=True)

In [20]:
df[df['country']=='Netherlands Antilles']

Empty DataFrame
Columns: [index, country, year, iso_code, population, coal_electricity, gas_electricity, oil_electricity, nuclear_electricity, hydro_electricity, solar_electricity, biofuel_electricity, wind_electricity, other_renewable_exc_biofuel_electricity, electricity_generation, electricity_demand, Continent]
Index: []

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4862 entries, 0 to 4883
Data columns (total 17 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   index                                    4862 non-null   int64
 1   country                                  4862 non-null   object
 2   year                                     4862 non-null   int64
 3   iso_code                                 4862 non-null   object
 4   population                               4862 non-null   float64
 5   coal_electricity                         4662 non-null   float64
 6   gas_electricity                          4662 non-null   float64
 7   oil_electricity                          4662 non-null   float64
 8   nuclear_electricity                      4634 non-null   float64
 9   hydro_electricity                        4717 non-null   float64
 10  solar_electricity                        4751 non-null   float64
 11  biofuel_electricity                      4637 non-null   float64
 12  wind_electricity                         4742 non-null   float64
 13  other_renewable_exc_biofuel_electricity  4603 non-null   float64
 14  electricity_generation                   4782 non-null   float64
 15  electricity_demand                       4766 non-null   float64
 16  Continent                                4623 non-null   object
dtypes: float64(12), int64(2), object(3)
memory usage: 683.7+ KB

In [22]:
df[df['coal_electricity'].isna()]

,index,country,year,iso_code,population,coal_electricity,gas_electricity,oil_electricity,nuclear_electricity,hydro_electricity,solar_electricity,biofuel_electricity,wind_electricity,other_renewable_exc_biofuel_electricity,electricity_generation,electricity_demand,Continent
66,175,Algeria,2022,DZA,44903228.0,NaN,NaN,NaN,NaN,0.077,0.682,NaN,0.010,NaN,91.643,NaN,Africa
111,220,Angola,2022,AGO,35588996.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa
269,530,Azerbaijan,2022,AZE,10358078.0,NaN,NaN,NaN,NaN,1.595,0.061,NaN,0.083,NaN,29.033,NaN,Asia
314,575,Bahrain,2022,BHR,1472237.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Asia
382,643,Belarus,2022,BLR,9534956.0,NaN,NaN,NaN,4.69,0.343,0.285,NaN,0.184,NaN,39.641,NaN,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4543,6113,Tuvalu,2021,TUV,11229.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4725,6415,Uzbekistan,2022,UZB,34627648.0,NaN,NaN,NaN,NaN,5.313,0.184,NaN,0.001,NaN,70.995,NaN,Asia
4770,6460,Venezuela,2022,VEN,28301700.0,NaN,NaN,NaN,NaN,66.628,0.000,NaN,0.018,NaN,82.824,NaN,South American
4838,6613,Yemen,2022,YEM,33696612.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Asia
4883,6658,Zimbabwe,2022,ZWE,16320539.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa

In [23]:
df.drop(df[df['country']=='Micronesia (country)'].index,inplace=True)

In [24]:
df[df['country']=='Micronesia (country)']

Empty DataFrame
Columns: [index, country, year, iso_code, population, coal_electricity, gas_electricity, oil_electricity, nuclear_electricity, hydro_electricity, solar_electricity, biofuel_electricity, wind_electricity, other_renewable_exc_biofuel_electricity, electricity_generation, electricity_demand, Continent]
Index: []

In [25]:
df.drop(df[df['country']=='Bermuda'].index,inplace=True)

In [26]:
df[df['country']=='Bermuda']

Empty DataFrame
Columns: [index, country, year, iso_code, population, coal_electricity, gas_electricity, oil_electricity, nuclear_electricity, hydro_electricity, solar_electricity, biofuel_electricity, wind_electricity, other_renewable_exc_biofuel_electricity, electricity_generation, electricity_demand, Continent]
Index: []

In [27]:
df.drop(df[df['country']=='French Guiana'].index,inplace=True)

In [28]:
df[df['country']=='French Guiana']

Empty DataFrame
Columns: [index, country, year, iso_code, population, coal_electricity, gas_electricity, oil_electricity, nuclear_electricity, hydro_electricity, solar_electricity, biofuel_electricity, wind_electricity, other_renewable_exc_biofuel_electricity, electricity_generation, electricity_demand, Continent]
Index: []

In [29]:
df.drop(df[df['country']=='Gibraltar'].index,inplace=True)

In [30]:
df[df['country']=='Gibraltar']

Empty DataFrame
Columns: [index, country, year, iso_code, population, coal_electricity, gas_electricity, oil_electricity, nuclear_electricity, hydro_electricity, solar_electricity, biofuel_electricity, wind_electricity, other_renewable_exc_biofuel_electricity, electricity_generation, electricity_demand, Continent]
Index: []

In [31]:
df.drop(df[df['country']=='Guadeloupe'].index,inplace=True)

In [32]:
df[df['country']=='Guadeloupe']

Empty DataFrame
Columns: [index, country, year, iso_code, population, coal_electricity, gas_electricity, oil_electricity, nuclear_electricity, hydro_electricity, solar_electricity, biofuel_electricity, wind_electricity, other_renewable_exc_biofuel_electricity, electricity_generation, electricity_demand, Continent]
Index: []

In [33]:
df.drop(df[(df['country']=='Tuvalu')|(df['country']=='Saint Helena')|(df['country']=='Reunion')|(df['country']=='Reunion')|(df['country']=='Northern Mariana Islands')|(df['country']=='Martinique')].index,inplace=True)

In [34]:
df.shape

(4642, 17)

In [35]:
# following index no has no data
No_data=set((4883,4838,4273,4182,4113,2981,2514,1615,1347,967,853,629,314,111))

In [36]:
df.drop(No_data,inplace=True)

In [37]:
df[df['coal_electricity'].isna()]

,index,country,year,iso_code,population,coal_electricity,gas_electricity,oil_electricity,nuclear_electricity,hydro_electricity,solar_electricity,biofuel_electricity,wind_electricity,other_renewable_exc_biofuel_electricity,electricity_generation,electricity_demand,Continent
66,175,Algeria,2022,DZA,44903228.0,NaN,NaN,NaN,NaN,0.077,0.682,NaN,0.010,NaN,91.643,NaN,Africa
269,530,Azerbaijan,2022,AZE,10358078.0,NaN,NaN,NaN,NaN,1.595,0.061,NaN,0.083,NaN,29.033,NaN,Asia
382,643,Belarus,2022,BLR,9534956.0,NaN,NaN,NaN,4.69,0.343,0.285,NaN,0.184,NaN,39.641,NaN,Europe
1993,2618,Hong Kong,2022,HKG,7488863.0,NaN,NaN,NaN,0.00,0.000,0.052,NaN,0.001,NaN,36.233,NaN,Asia
2039,2730,Iceland,2022,ISL,372903.0,NaN,NaN,NaN,NaN,14.176,0.000,NaN,0.006,NaN,20.108,NaN,Europe
2131,2822,Iraq,2022,IRQ,44496124.0,NaN,NaN,NaN,NaN,3.293,0.422,NaN,0.000,NaN,117.237,NaN,Asia
2177,2868,Israel,2022,ISR,9038313.0,NaN,NaN,NaN,NaN,0.023,7.094,NaN,0.035,NaN,76.477,NaN,Asia
2358,3072,Kuwait,2022,KWT,4268886.0,NaN,NaN,NaN,NaN,NaN,0.209,NaN,0.005,NaN,82.957,NaN,Asia
2936,3848,Morocco,2022,MAR,37457976.0,NaN,NaN,NaN,NaN,0.350,1.448,NaN,5.356,NaN,41.156,NaN,Africa
4159,5729,Sri Lanka,2022,LKA,21832150.0,NaN,NaN,NaN,NaN,7.125,1.013,NaN,0.492,NaN,16.923,NaN,Asia
4430,6000,Trinidad and Tobago,2022,TTO,1531043.0,NaN,NaN,NaN,NaN,0.000,0.006,NaN,0.000,NaN,10.165,NaN,North American
4499,6069,Turkmenistan,2022,TKM,6430777.0,NaN,NaN,NaN,NaN,0.006,0.007,NaN,0.000,NaN,31.524,NaN,Asia
4725,6415,Uzbekistan,2022,UZB,34627648.0,NaN,NaN,NaN,NaN,5.313,0.184,NaN,0.001,NaN,70.995,NaN,Asia
4770,6460,Venezuela,2022,VEN,28301700.0,NaN,NaN,NaN,NaN,66.628,0.000,NaN,0.018,NaN,82.824,NaN,South American

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4628 entries, 0 to 4882
Data columns (total 17 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   index                                    4628 non-null   int64
 1   country                                  4628 non-null   object
 2   year                                     4628 non-null   int64
 3   iso_code                                 4628 non-null   object
 4   population                               4628 non-null   float64
 5   coal_electricity                         4614 non-null   float64
 6   gas_electricity                          4614 non-null   float64
 7   oil_electricity                          4614 non-null   float64
 8   nuclear_electricity                      4480 non-null   float64
 9   hydro_electricity                        4603 non-null   float64
 10  solar_electricity                        4627 non-null   float64
 11  biofuel_electricity                      4589 non-null   float64
 12  wind_electricity                         4628 non-null   float64
 13  other_renewable_exc_biofuel_electricity  4449 non-null   float64
 14  electricity_generation                   4628 non-null   float64
 15  electricity_demand                       4612 non-null   float64
 16  Continent                                4433 non-null   object
dtypes: float64(12), int64(2), object(3)
memory usage: 650.8+ KB

In [39]:
df[df['other_renewable_exc_biofuel_electricity'].isna()]

,index,country,year,iso_code,population,coal_electricity,gas_electricity,oil_electricity,nuclear_electricity,hydro_electricity,solar_electricity,biofuel_electricity,wind_electricity,other_renewable_exc_biofuel_electricity,electricity_generation,electricity_demand,Continent
66,175,Algeria,2022,DZA,4.490323e+07,NaN,NaN,NaN,NaN,0.077,0.682,NaN,0.010,NaN,91.643,NaN,Africa
269,530,Azerbaijan,2022,AZE,1.035808e+07,NaN,NaN,NaN,NaN,1.595,0.061,NaN,0.083,NaN,29.033,NaN,Asia
382,643,Belarus,2022,BLR,9.534956e+06,NaN,NaN,NaN,4.69,0.343,0.285,NaN,0.184,NaN,39.641,NaN,Europe
877,1223,China,2000,CHN,1.264099e+09,1060.26,5.77,47.27,16.74,222.410,0.020,2.54,0.590,NaN,1355.600,1346.85,Asia
878,1224,China,2001,CHN,1.272740e+09,1129.14,4.93,48.52,17.47,277.430,0.030,2.55,0.720,NaN,1480.790,1472.19,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4789,6479,Vietnam,2018,VNM,9.491433e+07,83.85,39.92,0.21,0.00,84.490,0.100,0.13,0.490,NaN,209.190,210.81,Asia
4790,6480,Vietnam,2019,VNM,9.577671e+07,111.18,42.18,1.42,0.00,66.540,5.250,0.13,0.720,NaN,227.420,228.67,Asia
4791,6481,Vietnam,2020,VNM,9.664868e+07,114.76,33.95,1.25,0.00,73.380,10.860,0.13,1.070,NaN,235.400,236.91,Asia
4792,6482,Vietnam,2021,VNM,9.746802e+07,114.12,26.22,0.21,0.00,75.900,25.770,0.16,2.390,NaN,244.770,246.29,Asia
4793,6483,Vietnam,2022,VNM,9.818686e+07,99.52,27.85,0.21,0.00,100.650,26.290,0.16,8.650,NaN,263.330,264.85,Asia

In [40]:
temp_china=df[df['country']=='China']

In [41]:
df.loc[temp_china.index,['other_renewable_exc_biofuel_electricity']]=0

In [42]:
df[df['country']=='China']

,index,country,year,iso_code,population,coal_electricity,gas_electricity,oil_electricity,nuclear_electricity,hydro_electricity,solar_electricity,biofuel_electricity,wind_electricity,other_renewable_exc_biofuel_electricity,electricity_generation,electricity_demand,Continent
877,1223,China,2000,CHN,1.264099e+09,1060.26,5.77,47.27,16.74,222.41,0.02,2.54,0.59,0.0,1355.60,1346.85,Asia
878,1224,China,2001,CHN,1.272740e+09,1129.14,4.93,48.52,17.47,277.43,0.03,2.55,0.72,0.0,1480.79,1472.19,Asia
879,1225,China,2002,CHN,1.280926e+09,1282.57,4.19,50.70,25.13,287.97,0.05,2.55,0.84,0.0,1654.00,1645.60,Asia
880,1226,China,2003,CHN,1.288873e+09,1519.97,5.16,54.83,43.34,283.68,0.06,2.54,1.00,0.0,1910.58,1903.22,Asia
881,1227,China,2004,CHN,1.296817e+09,1722.42,7.46,65.53,50.47,353.54,0.08,2.53,1.28,0.0,2203.31,2197.23,Asia
882,1228,China,2005,CHN,1.304888e+09,1980.15,12.14,50.51,53.09,397.02,0.08,5.32,1.95,0.0,2500.26,2494.08,Asia
883,1229,China,2006,CHN,1.313087e+09,2302.42,23.82,37.92,54.84,435.79,0.09,7.13,3.71,0.0,2865.72,2858.84,Asia
884,1230,China,2007,CHN,1.321513e+09,2656.70,33.91,28.09,62.13,485.26,0.11,9.86,5.48,0.0,3281.54,3271.23,Asia
885,1231,China,2008,CHN,1.330167e+09,2708.91,34.57,18.81,68.39,636.96,0.15,14.87,13.10,0.0,3495.76,3482.96,Asia
886,1232,China,2009,CHN,1.339126e+09,2911.52,56.56,12.12,70.05,615.64,0.28,20.86,27.61,0.0,3714.64,3703.26,Asia
887,1233,China,2010,CHN,1.348191e+09,3233.60,77.73,14.86,74.74,711.38,0.70,24.90,49.40,0.0,4187.31,4173.80,Asia
888,1234,China,2011,CHN,1.357095e+09,3690.87,108.77,12.13,87.20,688.04,2.61,27.63,74.10,0.0,4691.35,4678.61,Asia
889,1235,China,2012,CHN,1.366561e+09,3748.19,110.25,10.94,98.32,862.79,3.59,30.13,103.05,0.0,4967.26,4956.48,Asia
890,1236,China,2013,CHN,1.376100e+09,4077.37,116.39,10.01,111.50,909.61,8.37,37.13,138.26,0.0,5408.64,5397.41,Asia
891,1237,China,2014,CHN,1.385190e+09,4203.06,133.28,9.52,133.22,1059.69,23.51,46.27,159.76,0.0,5768.31,5756.90,Asia
892,1238,China,2015,CHN,1.393715e+09,4046.17,166.91,9.68,171.38,1114.52,39.48,54.07,185.59,0.0,5787.80,5775.36,Asia
893,1239,China,2016,CHN,1.401890e+09,4156.35,188.28,10.37,213.18,1153.27,66.53,62.13,240.86,0.0,6090.97,6078.25,Asia
894,1240,China,2017,CHN,1.410276e+09,4430.03,203.20,9.87,248.10,1165.06,117.80,79.60,304.60,0.0,6558.26,6545.21,Asia
895,1241,China,2018,CHN,1.417069e+09,4763.92,215.50,10.86,295.00,1198.89,176.90,93.73,365.80,0.0,7120.60,7105.38,Asia
896,1242,China,2019,CHN,1.421864e+09,4855.19,232.50,10.53,348.70,1272.54,224.00,112.73,405.30,0.0,7461.49,7444.69,Asia
897,1243,China,2020,CHN,1.424930e+09,4920.83,252.50,10.80,366.20,1321.71,261.10,135.63,466.50,0.0,7735.27,7718.23,Asia
898,1244,China,2021,CHN,1.425894e+09,5339.14,272.60,12.25,407.50,1300.00,327.00,169.93,655.60,0.0,8484.02,8466.32,Asia
899,1245,China,2022,CHN,1.425887e+09,5421.19,276.51,12.58,417.63,1318.22,420.35,172.13,800.52,0.0,8839.13,8821.43,Asia

In [43]:
temp_df=df[(df['country']=='India')|(df['country']=='Iran')|(df['country']=='Kazakhstan')|(df['country']=='Malaysia')|(df['country']=='Saudi Arabia')|(df['country']=='Vietnam')]

In [44]:
df.loc[temp_df.index,['other_renewable_exc_biofuel_electricity']]=0

In [45]:
df[(df['country']=='India')|(df['country']=='Iran')|(df['country']=='Kazakhstan')|(df['country']=='Malaysia')|(df['country']=='Saudi Arabia')|(df['country']=='Vietnam')]

,index,country,year,iso_code,population,coal_electricity,gas_electricity,oil_electricity,nuclear_electricity,hydro_electricity,solar_electricity,biofuel_electricity,wind_electricity,other_renewable_exc_biofuel_electricity,electricity_generation,electricity_demand,Continent
2040,2731,India,2000,IND,1.059634e+09,390.23,55.96,29.16,15.77,76.99,0.01,1.69,1.58,0.0,571.39,572.74,Asia
2041,2732,India,2001,IND,1.078971e+09,408.29,55.93,26.79,18.89,72.02,0.01,2.07,2.09,0.0,586.09,587.36,Asia
2042,2733,India,2002,IND,1.098313e+09,426.70,62.88,27.93,19.35,68.54,0.01,2.14,2.09,0.0,609.64,610.99,Asia
2043,2734,India,2003,IND,1.117415e+09,441.47,72.80,31.09,18.14,69.30,0.02,2.71,2.60,0.0,638.13,639.82,Asia
2044,2735,India,2004,IND,1.136265e+09,463.01,76.58,28.27,21.26,100.64,0.02,3.31,5.23,0.0,698.32,700.02,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4789,6479,Vietnam,2018,VNM,9.491433e+07,83.85,39.92,0.21,0.00,84.49,0.10,0.13,0.49,0.0,209.19,210.81,Asia
4790,6480,Vietnam,2019,VNM,9.577671e+07,111.18,42.18,1.42,0.00,66.54,5.25,0.13,0.72,0.0,227.42,228.67,Asia
4791,6481,Vietnam,2020,VNM,9.664868e+07,114.76,33.95,1.25,0.00,73.38,10.86,0.13,1.07,0.0,235.40,236.91,Asia
4792,6482,Vietnam,2021,VNM,9.746802e+07,114.12,26.22,0.21,0.00,75.90,25.77,0.16,2.39,0.0,244.77,246.29,Asia
4793,6483,Vietnam,2022,VNM,9.818686e+07,99.52,27.85,0.21,0.00,100.65,26.29,0.16,8.65,0.0,263.33,264.85,Asia

In [46]:
df.loc[[4632,4633,4634],['other_renewable_exc_biofuel_electricity']]=0

In [47]:
df.loc[4611,['hydro_electricity','biofuel_electricity','other_renewable_exc_biofuel_electricity']]=0

In [48]:
df[df['other_renewable_exc_biofuel_electricity'].isna()]

,index,country,year,iso_code,population,coal_electricity,gas_electricity,oil_electricity,nuclear_electricity,hydro_electricity,solar_electricity,biofuel_electricity,wind_electricity,other_renewable_exc_biofuel_electricity,electricity_generation,electricity_demand,Continent
66,175,Algeria,2022,DZA,44903228.0,NaN,NaN,NaN,NaN,0.077,0.682,NaN,0.010,NaN,91.643,NaN,Africa
269,530,Azerbaijan,2022,AZE,10358078.0,NaN,NaN,NaN,NaN,1.595,0.061,NaN,0.083,NaN,29.033,NaN,Asia
382,643,Belarus,2022,BLR,9534956.0,NaN,NaN,NaN,4.69,0.343,0.285,NaN,0.184,NaN,39.641,NaN,Europe
1993,2618,Hong Kong,2022,HKG,7488863.0,NaN,NaN,NaN,0.00,0.000,0.052,NaN,0.001,NaN,36.233,NaN,Asia
2039,2730,Iceland,2022,ISL,372903.0,NaN,NaN,NaN,NaN,14.176,0.000,NaN,0.006,NaN,20.108,NaN,Europe
2131,2822,Iraq,2022,IRQ,44496124.0,NaN,NaN,NaN,NaN,3.293,0.422,NaN,0.000,NaN,117.237,NaN,Asia
2177,2868,Israel,2022,ISR,9038313.0,NaN,NaN,NaN,NaN,0.023,7.094,NaN,0.035,NaN,76.477,NaN,Asia
2358,3072,Kuwait,2022,KWT,4268886.0,NaN,NaN,NaN,NaN,NaN,0.209,NaN,0.005,NaN,82.957,NaN,Asia
2936,3848,Morocco,2022,MAR,37457976.0,NaN,NaN,NaN,NaN,0.350,1.448,NaN,5.356,NaN,41.156,NaN,Africa
4159,5729,Sri Lanka,2022,LKA,21832150.0,NaN,NaN,NaN,NaN,7.125,1.013,NaN,0.492,NaN,16.923,NaN,Asia
4430,6000,Trinidad and Tobago,2022,TTO,1531043.0,NaN,NaN,NaN,NaN,0.000,0.006,NaN,0.000,NaN,10.165,NaN,North American
4499,6069,Turkmenistan,2022,TKM,6430777.0,NaN,NaN,NaN,NaN,0.006,0.007,NaN,0.000,NaN,31.524,NaN,Asia
4725,6415,Uzbekistan,2022,UZB,34627648.0,NaN,NaN,NaN,NaN,5.313,0.184,NaN,0.001,NaN,70.995,NaN,Asia
4770,6460,Venezuela,2022,VEN,28301700.0,NaN,NaN,NaN,NaN,66.628,0.000,NaN,0.018,NaN,82.824,NaN,South American

In [49]:
# Other Row Number --> 66,269,382,1993,2039,2139,2131,2177,2358,2936,4159,4430,4499,4725,4770

In [50]:
df[df['country']=='Iceland']

,index,country,year,iso_code,population,coal_electricity,gas_electricity,oil_electricity,nuclear_electricity,hydro_electricity,solar_electricity,biofuel_electricity,wind_electricity,other_renewable_exc_biofuel_electricity,electricity_generation,electricity_demand,Continent
2017,2708,Iceland,2000,ISL,281469.0,0.0,0.0,0.00,0.0,6.290,0.0,0.0,0.000,1.32,7.610,7.61,Europe
2018,2709,Iceland,2001,ISL,285245.0,0.0,0.0,0.00,0.0,6.510,0.0,0.0,0.000,1.45,7.960,7.96,Europe
2019,2710,Iceland,2002,ISL,287799.0,0.0,0.0,0.01,0.0,6.910,0.0,0.0,0.000,1.43,8.350,8.35,Europe
2020,2711,Iceland,2003,ISL,289806.0,0.0,0.0,0.01,0.0,7.020,0.0,0.0,0.000,1.41,8.440,8.44,Europe
2021,2712,Iceland,2004,ISL,292364.0,0.0,0.0,0.01,0.0,7.060,0.0,0.0,0.000,1.48,8.550,8.55,Europe
2022,2713,Iceland,2005,ISL,297037.0,0.0,0.0,0.01,0.0,6.950,0.0,0.0,0.000,1.66,8.620,8.62,Europe
2023,2714,Iceland,2006,ISL,304086.0,0.0,0.0,0.01,0.0,7.220,0.0,0.0,0.000,2.63,9.860,9.86,Europe
2024,2715,Iceland,2007,ISL,311859.0,0.0,0.0,0.00,0.0,8.310,0.0,0.0,0.000,3.58,11.890,11.89,Europe
2025,2716,Iceland,2008,ISL,317722.0,0.0,0.0,0.00,0.0,12.300,0.0,0.0,0.000,4.04,16.340,16.34,Europe
2026,2717,Iceland,2009,ISL,318809.0,0.0,0.0,0.00,0.0,12.160,0.0,0.0,0.000,4.55,16.710,16.71,Europe
2027,2718,Iceland,2010,ISL,318346.0,0.0,0.0,0.00,0.0,12.510,0.0,0.0,0.000,4.23,16.740,16.74,Europe
2028,2719,Iceland,2011,ISL,319308.0,0.0,0.0,0.00,0.0,12.380,0.0,0.0,0.000,4.47,16.850,16.85,Europe
2029,2720,Iceland,2012,ISL,320988.0,0.0,0.0,0.00,0.0,12.210,0.0,0.0,0.000,5.08,17.290,17.29,Europe
2030,2721,Iceland,2013,ISL,324036.0,0.0,0.0,0.00,0.0,12.750,0.0,0.0,0.000,5.24,17.990,17.99,Europe
2031,2722,Iceland,2014,ISL,327650.0,0.0,0.0,0.00,0.0,12.550,0.0,0.0,0.010,5.24,17.800,17.80,Europe
2032,2723,Iceland,2015,ISL,331068.0,0.0,0.0,0.00,0.0,13.540,0.0,0.0,0.010,5.00,18.550,18.55,Europe
2033,2724,Iceland,2016,ISL,335677.0,0.0,0.0,0.00,0.0,13.090,0.0,0.0,0.010,5.07,18.170,18.17,Europe
2034,2725,Iceland,2017,ISL,343641.0,0.0,0.0,0.00,0.0,13.890,0.0,0.0,0.010,4.94,18.840,18.84,Europe
2035,2726,Iceland,2018,ISL,352951.0,0.0,0.0,0.00,0.0,13.680,0.0,0.0,0.000,5.75,19.430,19.43,Europe
2036,2727,Iceland,2019,ISL,360787.0,0.0,0.0,0.00,0.0,13.330,0.0,0.0,0.010,5.78,19.120,19.12,Europe
2037,2728,Iceland,2020,ISL,366682.0,0.0,0.0,0.00,0.0,12.920,0.0,0.0,0.010,5.85,18.780,18.78,Europe
2038,2729,Iceland,2021,ISL,370338.0,0.0,0.0,0.00,0.0,13.570,0.0,0.0,0.010,5.68,19.260,19.26,Europe
2039,2730,Iceland,2022,ISL,372903.0,NaN,NaN,NaN,NaN,14.176,0.0,NaN,0.006,NaN,20.108,NaN,Europe

In [51]:
# Algeria Never produced electricity from Coal,Nuclear,Biofuel,other renewable so it considered 0 for 2022 as well
df.loc[66,['coal_electricity','nuclear_electricity','biofuel_electricity','other_renewable_exc_biofuel_electricity']]=0

In [52]:
# Azerbaijan Never produced electricity from Coal,Nuclear,Biofuel,other renewable so it considered 0 for 2022 as well
df.loc[269,['coal_electricity','nuclear_electricity','biofuel_electricity','other_renewable_exc_biofuel_electricity']]=0

In [53]:
# Belarus Never produced electricity from Coal,oil,other renewable so it considered 0 for 2022 as well
df.loc[382,['coal_electricity','oil_electricity','other_renewable_exc_biofuel_electricity']]=0

In [54]:
# Iceland --> Never from --> coal_electricity,gas_electricity,oil_electricity,nuclear_electricity,biofuel_electricity
df.loc[2039,['coal_electricity','gas_electricity','oil_electricity','nuclear_electricity','biofuel_electricity']]=0
df.loc[2039,['other_renewable_exc_biofuel_electricity']]=5.296   # 20.108-14.176-0.006=5.296 because of previous record

In [55]:
df.loc[2039,['electricity_demand']]=20.108 # because of previous record

In [56]:
# Iraq Never produced electricity from Coal,Nuclear,Biofuel,other renewable so it considered 0 for 2022 as well
df.loc[2131,['coal_electricity','nuclear_electricity','biofuel_electricity','other_renewable_exc_biofuel_electricity']]=0

In [57]:
# IsraelNever produced electricity from Coal,Nuclear,other renewable so it considered 0 for 2022 as well
df.loc[2177,['oil_electricity','nuclear_electricity','other_renewable_exc_biofuel_electricity']]=0

In [58]:
# Kuwait ---> Never from --> coal_electricity,gas_electricity,oil_electricity,nuclear_electricity,biofuel_electricity
df.loc[2358,['coal_electricity','oil_electricity','nuclear_electricity','hydro_electricity','biofuel_electricity','other_renewable_exc_biofuel_electricity']]=0
df.loc[2358,['gas_electricity']]=82.748   # 20.108-14.176-0.006=5.296 because of previous record

In [59]:
df.loc[2358,['electricity_demand']]=82.957 # because of previous record

In [60]:
df[df['Continent'].isna()]

,index,country,year,iso_code,population,coal_electricity,gas_electricity,oil_electricity,nuclear_electricity,hydro_electricity,solar_electricity,biofuel_electricity,wind_electricity,other_renewable_exc_biofuel_electricity,electricity_generation,electricity_demand,Continent
585,846,British Virgin Islands,2000,VGB,20126.0,0.0,0.0,0.04,0.0,0.0,0.0,0.0,0.0,0.0,0.04,0.04,NaN
586,847,British Virgin Islands,2001,VGB,20685.0,0.0,0.0,0.04,0.0,0.0,0.0,0.0,0.0,0.0,0.04,0.04,NaN
587,848,British Virgin Islands,2002,VGB,21308.0,0.0,0.0,0.04,0.0,0.0,0.0,0.0,0.0,0.0,0.04,0.04,NaN
588,849,British Virgin Islands,2003,VGB,22004.0,0.0,0.0,0.04,0.0,0.0,0.0,0.0,0.0,0.0,0.04,0.04,NaN
589,850,British Virgin Islands,2004,VGB,22740.0,0.0,0.0,0.04,0.0,0.0,0.0,0.0,0.0,0.0,0.04,0.04,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4517,6087,Turks and Caicos Islands,2017,TCA,39865.0,0.0,0.0,0.23,0.0,0.0,0.0,0.0,0.0,0.0,0.23,0.23,NaN
4518,6088,Turks and Caicos Islands,2018,TCA,41516.0,0.0,0.0,0.24,0.0,0.0,0.0,0.0,0.0,0.0,0.24,0.24,NaN
4519,6089,Turks and Caicos Islands,2019,TCA,43104.0,0.0,0.0,0.24,0.0,0.0,0.0,0.0,0.0,0.0,0.24,0.24,NaN
4520,6090,Turks and Caicos Islands,2020,TCA,44297.0,0.0,0.0,0.25,0.0,0.0,0.0,0.0,0.0,0.0,0.25,0.25,NaN
4521,6091,Turks and Caicos Islands,2021,TCA,45141.0,0.0,0.0,0.27,0.0,0.0,0.0,0.0,0.0,0.0,0.27,0.27,NaN

In [61]:
df['Continent'].value_counts()

Africa                   1185
Asia                     1109
Europe                    912
North American            578
Australia and Oceania     354
South American            295
Name: Continent, dtype: int64

In [62]:
# Following country are from N America
temp_N=df[(df['country']=='British Virgin Islands')|(df['country']=='Cayman Islands')|(df['country']=='Turks and Caicos Islands')].index
temp_N

Int64Index([ 585,  586,  587,  588,  589,  590,  591,  592,  593,  594,  595,
             596,  597,  598,  599,  600,  601,  602,  603,  604,  605,  606,
             787,  788,  789,  790,  791,  792,  793,  794,  795,  796,  797,
             798,  799,  800,  801,  802,  803,  804,  805,  806,  807,  808,
            4500, 4501, 4502, 4503, 4504, 4505, 4506, 4507, 4508, 4509, 4510,
            4511, 4512, 4513, 4514, 4515, 4516, 4517, 4518, 4519, 4520, 4521],
           dtype='int64')

In [63]:
df.loc[temp_N,['Continent']]='North American'

In [64]:
# Following country are from Africa
df.loc[df[(df['country']=='Sao Tome and Principe')|(df['country']=="Cote d'Ivoire")].index,['Continent']]='Africa'

In [65]:
# Following country are from Asia
df.loc[df[(df['country']=='East Timor')|(df['country']=="Macao")].index,['Continent']]='Asia'

In [66]:
# Following country are from S America
df.loc[df[(df['country']=='Falkland Islands')].index,['Continent']]='South American'

In [67]:
# Following country are from Europe
df.loc[df[(df['country']=='Faroe Islands')].index,['Continent']]='Europe'

In [68]:
df[df['Continent'].isna()]

Empty DataFrame
Columns: [index, country, year, iso_code, population, coal_electricity, gas_electricity, oil_electricity, nuclear_electricity, hydro_electricity, solar_electricity, biofuel_electricity, wind_electricity, other_renewable_exc_biofuel_electricity, electricity_generation, electricity_demand, Continent]
Index: []

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4628 entries, 0 to 4882
Data columns (total 17 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   index                                    4628 non-null   int64
 1   country                                  4628 non-null   object
 2   year                                     4628 non-null   int64
 3   iso_code                                 4628 non-null   object
 4   population                               4628 non-null   float64
 5   coal_electricity                         4620 non-null   float64
 6   gas_electricity                          4616 non-null   float64
 7   oil_electricity                          4618 non-null   float64
 8   nuclear_electricity                      4486 non-null   float64
 9   hydro_electricity                        4605 non-null   float64
 10  solar_electricity                        4627 non-null   float64
 11  biofuel_electricity                      4595 non-null   float64
 12  wind_electricity                         4628 non-null   float64
 13  other_renewable_exc_biofuel_electricity  4621 non-null   float64
 14  electricity_generation                   4628 non-null   float64
 15  electricity_demand                       4614 non-null   float64
 16  Continent                                4628 non-null   object
dtypes: float64(12), int64(2), object(3)
memory usage: 779.9+ KB

In [70]:
df[df['nuclear_electricity'].isna()]
# Vietnam,Saudi Arabia,Malaysia,Kazakhstan,Iran,Indonesia,Chile

,index,country,year,iso_code,population,coal_electricity,gas_electricity,oil_electricity,nuclear_electricity,hydro_electricity,solar_electricity,biofuel_electricity,wind_electricity,other_renewable_exc_biofuel_electricity,electricity_generation,electricity_demand,Continent
854,1200,Chile,2000,CHL,15351803.0,8.92,9.97,1.53,NaN,18.48,0.0,NaN,0.00,0.0,38.90,40.09,South American
855,1201,Chile,2001,CHL,15523973.0,5.74,12.79,1.06,NaN,21.03,0.0,NaN,0.00,0.0,40.62,41.97,South American
856,1202,Chile,2002,CHL,15693798.0,6.42,12.47,0.98,NaN,22.50,0.0,NaN,0.00,0.0,42.37,44.17,South American
857,1203,Chile,2003,CHL,15859114.0,6.14,16.12,1.04,NaN,21.84,0.0,NaN,0.00,0.0,45.14,46.84,South American
858,1204,Chile,2004,CHL,16017966.0,8.90,17.41,1.48,NaN,20.87,0.0,NaN,0.00,0.0,48.66,50.56,South American
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4776,6466,Vietnam,2005,VNM,83142096.0,11.01,22.32,2.17,NaN,16.53,0.0,0.05,0.00,0.0,52.08,52.46,Asia
4777,6467,Vietnam,2006,VNM,83951800.0,12.23,24.50,1.40,NaN,19.71,0.0,0.06,0.00,0.0,57.90,58.87,Asia
4778,6468,Vietnam,2007,VNM,84762272.0,12.36,26.62,2.66,NaN,22.44,0.0,0.08,0.00,0.0,64.16,66.79,Asia
4779,6469,Vietnam,2008,VNM,85597232.0,12.29,31.06,1.57,NaN,25.98,0.0,0.05,0.00,0.0,70.95,74.17,Asia
4780,6470,Vietnam,2009,VNM,86482920.0,12.45,36.36,1.78,NaN,29.98,0.0,0.06,0.01,0.0,80.64,84.37,Asia

In [71]:
temp_df=df[(df['country']=='Vietnam')|(df['country']=='Saudi Arabia')|(df['country']=='Malaysia')|(df['country']=='Kazakhstan')|(df['country']=='Iran')|(df['country']=='Indonesia')|(df['country']=='Chile')].index

In [72]:
df.loc[temp_df,['nuclear_electricity']]=0

In [73]:
df.loc[df[(df['country']=='Saudi Arabia')].index,['hydro_electricity','biofuel_electricity']]=0

In [74]:
df.loc[df[(df['country']=='Chile')].index,['biofuel_electricity']]=0

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4628 entries, 0 to 4882
Data columns (total 17 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   index                                    4628 non-null   int64
 1   country                                  4628 non-null   object
 2   year                                     4628 non-null   int64
 3   iso_code                                 4628 non-null   object
 4   population                               4628 non-null   float64
 5   coal_electricity                         4620 non-null   float64
 6   gas_electricity                          4616 non-null   float64
 7   oil_electricity                          4618 non-null   float64
 8   nuclear_electricity                      4622 non-null   float64
 9   hydro_electricity                        4628 non-null   float64
 10  solar_electricity                        4627 non-null   float64
 11  biofuel_electricity                      4619 non-null   float64
 12  wind_electricity                         4628 non-null   float64
 13  other_renewable_exc_biofuel_electricity  4621 non-null   float64
 14  electricity_generation                   4628 non-null   float64
 15  electricity_demand                       4614 non-null   float64
 16  Continent                                4628 non-null   object
dtypes: float64(12), int64(2), object(3)
memory usage: 779.9+ KB

In [76]:
df

,index,country,year,iso_code,population,coal_electricity,gas_electricity,oil_electricity,nuclear_electricity,hydro_electricity,solar_electricity,biofuel_electricity,wind_electricity,other_renewable_exc_biofuel_electricity,electricity_generation,electricity_demand,Continent
0,23,Afghanistan,2000,AFG,19542986.0,0.00,0.0,0.16,0.0,0.31,0.00,0.00,0.0,0.0,0.47,0.57,Asia
1,24,Afghanistan,2001,AFG,19688634.0,0.00,0.0,0.09,0.0,0.50,0.00,0.00,0.0,0.0,0.59,0.69,Asia
2,25,Afghanistan,2002,AFG,21000258.0,0.00,0.0,0.13,0.0,0.56,0.00,0.00,0.0,0.0,0.69,0.79,Asia
3,26,Afghanistan,2003,AFG,22645136.0,0.00,0.0,0.31,0.0,0.63,0.00,0.00,0.0,0.0,0.94,1.04,Asia
4,27,Afghanistan,2004,AFG,23553554.0,0.00,0.0,0.33,0.0,0.56,0.00,0.00,0.0,0.0,0.89,0.99,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4878,6653,Zimbabwe,2017,ZWE,14751101.0,3.02,0.0,0.03,0.0,3.97,0.01,0.32,0.0,0.0,7.35,9.57,Africa
4879,6654,Zimbabwe,2018,ZWE,15052191.0,3.69,0.0,0.04,0.0,5.05,0.02,0.39,0.0,0.0,9.19,10.21,Africa
4880,6655,Zimbabwe,2019,ZWE,15354606.0,3.62,0.0,0.04,0.0,4.17,0.03,0.38,0.0,0.0,8.24,9.35,Africa
4881,6656,Zimbabwe,2020,ZWE,15669663.0,3.36,0.0,0.04,0.0,3.81,0.03,0.35,0.0,0.0,7.59,9.57,Africa
4882,6657,Zimbabwe,2021,ZWE,15993525.0,3.57,0.0,0.04,0.0,4.00,0.04,0.38,0.0,0.0,8.03,9.78,Africa

In [77]:
# df.to_csv('World_Electricity_data.csv',index=False)

## Feature Enggineering

In [78]:
df['non_renewable_electricity']=df['coal_electricity']+df['gas_electricity']+df['oil_electricity']+df['nuclear_electricity']

In [79]:
df['renewable_electricity']=df['hydro_electricity']+df['solar_electricity']+df['biofuel_electricity']+df['biofuel_electricity']+df['wind_electricity']+df['other_renewable_exc_biofuel_electricity']

In [80]:
df['fossile_electricity']=df['coal_electricity']+df['gas_electricity']+df['oil_electricity']

In [81]:
df['Non_fossile_electricity']=df['nuclear_electricity']+df['hydro_electricity']+df['solar_electricity']+df['biofuel_electricity']+df['wind_electricity']+df['other_renewable_exc_biofuel_electricity']

In [82]:
df

,index,country,year,iso_code,population,coal_electricity,gas_electricity,oil_electricity,nuclear_electricity,hydro_electricity,...,biofuel_electricity,wind_electricity,other_renewable_exc_biofuel_electricity,electricity_generation,electricity_demand,Continent,non_renewable_electricity,renewable_electricity,fossile_electricity,Non_fossile_electricity
0,23,Afghanistan,2000,AFG,19542986.0,0.00,0.0,0.16,0.0,0.31,...,0.00,0.0,0.0,0.47,0.57,Asia,0.16,0.31,0.16,0.31
1,24,Afghanistan,2001,AFG,19688634.0,0.00,0.0,0.09,0.0,0.50,...,0.00,0.0,0.0,0.59,0.69,Asia,0.09,0.50,0.09,0.50
2,25,Afghanistan,2002,AFG,21000258.0,0.00,0.0,0.13,0.0,0.56,...,0.00,0.0,0.0,0.69,0.79,Asia,0.13,0.56,0.13,0.56
3,26,Afghanistan,2003,AFG,22645136.0,0.00,0.0,0.31,0.0,0.63,...,0.00,0.0,0.0,0.94,1.04,Asia,0.31,0.63,0.31,0.63
4,27,Afghanistan,2004,AFG,23553554.0,0.00,0.0,0.33,0.0,0.56,...,0.00,0.0,0.0,0.89,0.99,Asia,0.33,0.56,0.33,0.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4878,6653,Zimbabwe,2017,ZWE,14751101.0,3.02,0.0,0.03,0.0,3.97,...,0.32,0.0,0.0,7.35,9.57,Africa,3.05,4.62,3.05,4.30
4879,6654,Zimbabwe,2018,ZWE,15052191.0,3.69,0.0,0.04,0.0,5.05,...,0.39,0.0,0.0,9.19,10.21,Africa,3.73,5.85,3.73,5.46
4880,6655,Zimbabwe,2019,ZWE,15354606.0,3.62,0.0,0.04,0.0,4.17,...,0.38,0.0,0.0,8.24,9.35,Africa,3.66,4.96,3.66,4.58
4881,6656,Zimbabwe,2020,ZWE,15669663.0,3.36,0.0,0.04,0.0,3.81,...,0.35,0.0,0.0,7.59,9.57,Africa,3.40,4.54,3.40,4.19
4882,6657,Zimbabwe,2021,ZWE,15993525.0,3.57,0.0,0.04,0.0,4.00,...,0.38,0.0,0.0,8.03,9.78,Africa,3.61,4.80,3.61,4.42

# Creating Sidebar Dropdown list in Streamlit

In [83]:
# 1
list_of_continents=df['Continent'].sort_values().unique().tolist()
list_of_continents.insert(0,'Overall')
list_of_continents

['Overall',
 'Africa',
 'Asia',
 'Australia and Oceania',
 'Europe',
 'North American',
 'South American']

In [84]:
# 2
list_of_countries=df['country'].sort_values().unique().tolist()

In [85]:
list_of_countries.insert(0,'India')
list_of_countries.insert(1,'China')
list_of_countries.insert(2,'United States')
list_of_countries.insert(3,'United Kingdom')
list_of_countries.insert(4,'Russia')
list_of_countries.insert(5,'France')
list_of_countries.insert(6,'Pakistan')

In [86]:
list_of_countries

['India',
 'China',
 'United States',
 'United Kingdom',
 'Russia',
 'France',
 'Pakistan',
 'Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo',
 'Cook Islands',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 'Democratic Republic of Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'East Timor',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Falkland Islands',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'France',
 'French Polynesia',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Greenland',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Macao',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Niue',
 'North Korea',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Pierre and Miquelon',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'United States Virgin Islands',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Western Sahara',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [87]:
# 3
year=df['year'].sort_values(ascending=False).unique().tolist()
year.insert(0,'Overall')
year

['Overall',
 2022,
 2021,
 2020,
 2019,
 2018,
 2017,
 2016,
 2015,
 2014,
 2013,
 2012,
 2011,
 2010,
 2009,
 2008,
 2007,
 2006,
 2005,
 2004,
 2003,
 2002,
 2001,
 2000]